In [1]:
import sqlalchemy
sqlalchemy.__version__

'1.4.22'

In [2]:
from sqlalchemy import create_engine, Sequence

In [3]:
# the return value of create_engine() is an instance of Engine, and it represents the core interface to the db, 
# engine = create_engine('sqlite:///demographics.sqlite')
engine = create_engine('sqlite:///:memory:', echo=True)

#### Lazy connceting
- the engine, when first returned by create_engine(), has not actually tried to connect to the db; that happens only the first time it is asked to perform a task against the db.

- the first time a method like Engine.execute() or Engine.connect() is called, the Engine establishes a real DBAPI connection to the db, which is then used to emit the SQL. When using the ORM, we typically don't use the engine directly once created; instead, it is used behind the scenes by the ORM.

#### declare a mapping

- when using the ORM, the configurational process starts by describing the db, and then by defining our classes which will be mapped to those tables.
- classes mapped using the Declarative system are defined in terms of a base class which maintains a catalog of classes and tables relative to that base - **declarative base class**

In [4]:
from sqlalchemy.orm import declarative_base

In [5]:
Base = declarative_base()

- we start with a single table called users, which will store records for the end-users using our application. 
- a new class called _Use_ will be the class to which we map this table. 
- within the class, we define details about the table to which we will be mapping, primarily the table name, and names and datatypes of columns

In [6]:
from sqlalchemy import Column, Integer, String

In [7]:
class User(Base):
    __tablename__ = 'users'
    
    id = Column(Integer, Sequence('user_id_seq'), primary_key=True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)
    
    
    def __rep__(self):
        return "<User(name='%s', fullname='%s', nickname='%s')>" %(self.name, self.fullname, self.nickname)

### create a Schema

- with the _User_ class constructed via the Declarative system, we have defined information about the table - _**table metadata**_

- the object used by SQLAlchemy to represent this information for a specific table is called the **Table** boject

In [8]:
User.__table__

Table('users', MetaData(), Column('id', Integer(), table=<users>, primary_key=True, nullable=False, default=Sequence('user_id_seq', metadata=MetaData())), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('nickname', String(), table=<users>), schema=None)

- when we declared our class, Declarative used a Python metaclass in order to perform additional activities once the class declaration was complette; within this phase, it then created a **Table** object according to our specifications, and associated it with the class by constructing a **Mapper** object. This object is a bts object we normally don't need to deal with directly

- the Table object is a member of a larger collection known as **Metadata**. When useing Declarative, this object is available using the .metadata attribute of our declarative base class.

- we can use Metadata to issue CREATE TABLE statements to the dbfor all tables that don't yet exist.

In [9]:
Base.metadata.create_all(engine)

2022-05-12 16:18:38,079 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-12 16:18:38,079 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2022-05-12 16:18:38,080 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-12 16:18:38,080 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("users")
2022-05-12 16:18:38,080 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-12 16:18:38,081 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	nickname VARCHAR,
	PRIMARY KEY (id)
)


2022-05-12 16:18:38,081 INFO sqlalchemy.engine.Engine [no key 0.00024s] ()
2022-05-12 16:18:38,082 INFO sqlalchemy.engine.Engine COMMIT

### create an instance of the mapped class

In [10]:
ed_user = User(name='ed', fullname='Ed Jones', nickname='edsnickname')
ed_user.name

'ed'

In [11]:
ed_user.nickname

'edsnickname'

### creating a session

- the ORM's "handle" to the db is the **Session**

In [12]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

### adding and updating objects

- to presist our User object, we add Session.add() into our Session

In [13]:
session.add(ed_user)

In [14]:
our_user = session.query(User).filter_by(name='ed').first()

2022-05-12 16:18:38,100 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-12 16:18:38,102 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, nickname) VALUES (?, ?, ?)
2022-05-12 16:18:38,102 INFO sqlalchemy.engine.Engine [generated in 0.00041s] ('ed', 'Ed Jones', 'edsnickname')
2022-05-12 16:18:38,104 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2022-05-12 16:18:38,105 INFO sqlalchemy.engine.Engine [generated in 0.00065s] ('ed', 1, 0)

In [15]:
our_user

In [16]:
ed_user is our_user

True

- the ORM concept at work here is known as an **identity map** and ensures that all operations upon a particular row within a ~Session~ operate upon the same set of data

- once an object with a pk is present in the Session, all SQL queries on that Session will always return the same Python object for that particular pk

- we can add more User objects at once using _add_all()_:

In [17]:
session.add_all([
    User(name='wendy', fullname='Wendy Williams', nickname='windy'),
    User(name='mary', fullname='Mary Contrary', nickname='mary'),
    User(name='fred', fullname='Fred Flintstone', nickname='freddy')])

In [18]:
ed_user.nickname = 'eddie'

In [19]:
session.dirty

IdentitySet([<__main__.User object at 0x7f9e409c9f40>])

In [20]:
session.new

IdentitySet([<__main__.User object at 0x7f9e40c9fd90>, <__main__.User object at 0x7f9e40c9fd60>, <__main__.User object at 0x7f9e40c9faf0>])

- we tell the **Session** that we wolud like to issue all remaining changes to the db and commit the transaction, which has been in progress throughout - **Session.commit()**

- the Session emits the UPDATE  statement for the nickname change on 'ed', as well as INSERT statementsts for the three new User objects

In [21]:
session.commit()

2022-05-12 16:18:38,128 INFO sqlalchemy.engine.Engine UPDATE users SET nickname=? WHERE users.id = ?
2022-05-12 16:18:38,129 INFO sqlalchemy.engine.Engine [generated in 0.00079s] ('eddie', 1)
2022-05-12 16:18:38,130 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, nickname) VALUES (?, ?, ?)
2022-05-12 16:18:38,130 INFO sqlalchemy.engine.Engine [cached since 0.02835s ago] ('wendy', 'Wendy Williams', 'windy')
2022-05-12 16:18:38,130 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, nickname) VALUES (?, ?, ?)
2022-05-12 16:18:38,131 INFO sqlalchemy.engine.Engine [cached since 0.02898s ago] ('mary', 'Mary Contrary', 'mary')
2022-05-12 16:18:38,131 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, nickname) VALUES (?, ?, ?)
2022-05-12 16:18:38,131 INFO sqlalchemy.engine.Engine [cached since 0.02958s ago] ('fred', 'Fred Flintstone', 'freddy')
2022-05-12 16:18:38,132 INFO sqlalchemy.engine.Engine COMMIT

- Session.commit() flushes the remaining changes to the database, and commits the transaction

- the connection resources referenced by the session are now reutrned to the connection pool

- subsequent operations with this session will occur in a **new** transaction, which will again re-aquire conncetion resources when first needed

In [22]:
# look at Ed's id attribute
ed_user.id

2022-05-12 16:18:38,135 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-12 16:18:38,136 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.id = ?
2022-05-12 16:18:38,137 INFO sqlalchemy.engine.Engine [generated in 0.00043s] (1,)

1

#### rolling back

- since the Session works within a transaction, we can roll back changes made too.

In [23]:
ed_user.name = 'Edwardo'

In [24]:
fake_user = User(name='fakeuser', fullname='Invalid', nickname='12345')
session.add(fake_user)

- querying the session, we can see that they are flushed into the current transaction

In [25]:
session.query(User).filter(User.name.in_(['Edward', 'fakeuser'])).all()

2022-05-12 16:18:38,147 INFO sqlalchemy.engine.Engine UPDATE users SET name=? WHERE users.id = ?
2022-05-12 16:18:38,148 INFO sqlalchemy.engine.Engine [generated in 0.00060s] ('Edwardo', 1)
2022-05-12 16:18:38,148 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, nickname) VALUES (?, ?, ?)
2022-05-12 16:18:38,149 INFO sqlalchemy.engine.Engine [cached since 0.04708s ago] ('fakeuser', 'Invalid', '12345')
2022-05-12 16:18:38,150 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name IN (?, ?)
2022-05-12 16:18:38,150 INFO sqlalchemy.engine.Engine [generated in 0.00048s] ('Edward', 'fakeuser')

In [26]:
# rolling back, we can see thad ed_user's name is back to ed, and fake_user has been kicked out of the session
session.rollback()

2022-05-12 16:18:38,154 INFO sqlalchemy.engine.Engine ROLLBACK

In [27]:
ed_user.name

2022-05-12 16:18:38,158 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-12 16:18:38,158 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.id = ?
2022-05-12 16:18:38,159 INFO sqlalchemy.engine.Engine [cached since 0.02256s ago] (1,)

'ed'

In [28]:
fake_user in session

False

### querying

- a **query** object is created using the **query()** method on **Session**

- query() takes a variable number of arguments, which can be any combination of classes and class-instumented descriptors.

In [29]:
for instance in session.query(User).order_by(User.id):
    print(instance.name, instance.fullname)

2022-05-12 16:28:57,200 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users ORDER BY users.id
2022-05-12 16:28:57,203 INFO sqlalchemy.engine.Engine [generated in 0.00307s] ()
ed Ed Jones
wendy Wendy Williams
mary Mary Contrary
fred Fred Flintstone

- the Query also accepts ORM-intstrumented desctiptors as arguments

- any time multiple class entities or column-based entities are expressed as arguments to the query() function, the return result is expressed as tuples

In [30]:
for name, fullname in session.query(User.name, User.fullname):
    print(name, fullname)

2022-05-12 16:32:30,115 INFO sqlalchemy.engine.Engine SELECT users.name AS users_name, users.fullname AS users_fullname
FROM users
2022-05-12 16:32:30,118 INFO sqlalchemy.engine.Engine [generated in 0.00302s] ()
ed Ed Jones
wendy Wendy Williams
mary Mary Contrary
fred Fred Flintstone